@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap');

body {
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.6;
    background-color: #1d1d1d;
    color: #e0e0e0;
    overflow-x: hidden;
}
section {
    background-color: #141414 ;
    margin-bottom: -.1vh;
}

header {
    background: #181818;
    color: #e0e0e0;
    padding: 3vw 0;
    font-family: "Inter";
}

header h1 {
    margin: -2.7vw;
    margin-bottom: -1.7vw;
    font-size: 11vh;
    text-align: center;    
}

header h2 {
    margin: -1.5vw 0;
    font-size: 2.5vh;
    font-family: "Inter";
}

h2 em {
    font-style: italic;
}

a {
    color: #6250ff;
    text-decoration: underline;
}

a:hover {
    color: #7464ff;
}

main {
    padding: 2vw;
    position: absolute;
    left: 10%;
    right: 10%;
}

section {
    margin: 1vw 0;
    margin-top: -4px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.507);
}

hr {
    color: #7f849c;
    background-color: #7f849c;
    border-color: #7f849c;
}

h2 {
    color: #6251ff;
    margin-top: 0;
    text-align: center;
    font-size: 3vh;
}

.highlight {
    background-color: #333;
    color: #e0e0e0;
    padding: 2px 4px;
    border-radius: 3px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5vw;
    font-size: 15px;
}

form input[type="file"] {
    margin-bottom: 1.5vw;
}

#submit {
    padding: 0.5vw 1vw;
    background: #5b1af3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: 100px;
}

#submit:hover {
    background: #5014db;
}


footer {
    text-align: center;
    padding: 2vw 0;
    background: #ffffff00;
    color: #e0e0e0;
    font-size: 13px;
    border-radius: 10px;
    height: 10vh;
}

footer h3 {
    margin: -15px;
    font-size: 30px;
}

footer a:link,
footer a:visited {
    color: #e0e0e0;
}

footer a:hover {
    color: #ac79ff;
}

br {
    margin: 2px;
}

small {
    font-size: .9vh;
}
#text_input {
    width: 8vw;
    margin-top: -1vw;
}

#reset-text { 
    display: none
}


@keyframes glow {
    25% {text-shadow: 0 0 20px #fff, 0 0 30px #60079b, 0 0 40px #60079b, 0 0 50px #60079b, 0 0 60px #60079b, 0 0 70px #60079b, 0 0 80px #60079b;}
    100% {}
  }