@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap');

body {
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.6;
    background-color: #1d1d1d;
    color: #e0e0e0;
    overflow-x: hidden;
}
section {
    background-color: #141414 ;
    margin-bottom: -.1vh;
}

header {
    background: #181818;
    color: #e0e0e0;
    padding: 3vw 0;
    font-family: "Inter";
    margin-top: -3%;
}


header h2 {
    margin: -1.5vw 0;
    font-size: 150%;
    font-family: "Inter";
}

h2 em {
    font-style: italic;
}

a {
    color: #7768ff;
    text-decoration: underline;
}

a:hover {
    color: #7464ff;
}

main {
    padding: 2vw;
    position: absolute;
    left: 10%;
    right: 10%;
}

section {
    margin: 2vw 0;
    margin-top: -4px;
    padding: 3vh;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.507);
}

hr {
    color: #7f849c;
    background-color: #7f849c;
    border-color: #7f849c;
}

h2 {
    color: #7768ff;
    margin-top: 0;
    text-align: center;
    font-size: 150%;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5vw;
    font-size: 15px;
}

form input[type="file"] {
    margin-bottom: 1.5vw;
}


footer {
    text-align: center;
    padding: 2vw 0;
    background: #ffffff00;
    color: #e0e0e0;
    font-size: 13px;
    border-radius: 10px;
    height: 10vh;
}

footer h3 {
    margin: -15px;
    font-size: 30px;
}

footer a:link,
footer a:visited {
    color: #7768ff;
}

footer a:hover {
    color: #ac79ff;
}

br {
    margin: 2px;
}


.dropzone {
    border: 2px dashed #444;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    margin: 20px 0;
    background: #2a2a2a;
}
.dropzone.dragover {
    border-color: #666;
    background: #333;
}
.progress {
    margin-top: 20px;
    display: none;
}
.progress-bar {
    height: 20px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}
.progress-fill {
    height: 100%;
    background: #4CAF50;
    width: 0%;
    transition: width 0.3s ease;
}

.highlight {
    background-color: #333;
    color: #e0e0e0;
    padding: 2px 4px;
    border-radius: 3px;
}

#reset-text {
    font-size: 1.2em;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background: #2a2a2a;
    display: none;
}

#text_input {
    width: 8vw;
    margin-top: -1vw;
}

#submit {
    padding: 0.5vw 1vw;
    background: #5b1af3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: 100px;
}

#submit:hover {
    background: #5014db;
}

@keyframes glow {
    0% { box-shadow: 0 0 5px #4CAF50; }
    50% { box-shadow: 0 0 20px #4CAF50; }
    100% { box-shadow: 0 0 5px #4CAF50; }
}

@keyframes glow {
    25% {text-shadow: 0 0 20px #5d09cc, 0 0 30px #3e0885, 0 0 40px #3e0885, 0 0 50px #3e0885, 0 0 60px #3e0885, 0 0 70px #3e0885, 0 0 80px #3e0885;}
    100% {}
  }
